---

- set_fact: { use_commit: True }

- set_fact:
    conf:
      file: /etc/default/automysqlbackup
      vars:
        backupdir:
          old: BACKUPDIR="/var/lib/automysqlbackup"
          new: |
            {{ 'BACKUPDIR="' + automysqlbackup_backupdir + '"' }}
        latest:
          old: LATEST=no
          new: LATEST=yes
        mailcontent:
          old: MAILCONTENT="quiet"
          new: MAILCONTENT="log"

- include: commit-etc.yml comment='Before configuring automysqlbackup'

- name: automysqlbackup - conf comment out orig value loop
  replace: dest={{ conf.file }} regexp={{ "'^" + item.value.old + "$'" }} replace='#\g<0>'
  with_dict: conf.vars

- name: automysqlbackup - conf setup new value loop
  lineinfile: dest={{ conf.file }} line='{{ item.value.new }}' insertafter={{ "'^#" + item.value.old + "$'" }}
  with_dict: conf.vars

- include: commit-etc.yml comment='After configuring automysqlbackup'
