---

- set_fact: { name: automysqlbackup, time: 3600 }

- apt: { update_cache: True, cache_valid_time: '{{ time }}' }
- hg_commit: { cwd: /etc, com: 'Before installing {{ name }}', user: '{{ user_email }}' }
- { apt: { name: [ rdfind ] }}
- hg_commit: { cwd: /etc, com: 'After installing {{ name }}', user: '{{ user_email }}' }

- stat:
    path: '{{ backupdir }}'
  register: path

- file:
    path: '{{ backupdir }}'
    state: directory
  when: not path.stat.exists
