#!/bin/bash

BACKUPDIR="{{ backupdir }}"
rdfind -outputname $BACKUPDIR/rdfind.out -makehardlinks true $BACKUPDIR

DAYSRE='s/^\(.*\)_20[0-9][0-9]-..-.._..h..m.[A-Z][a-z][a-z]*.sql.gz/mv & \1.sql.gz/'
WEEKSRE='s/^\(.*\)_week\.[0-9][0-9].20[0-9][0-9]-..-.._..h..m.sql.gz/mv & \1.sql.gz/'
MONTHSRE='s/^\(.*\)_20[0-9][0-9]-..-.._..h..m.*.sql.gz/mv & \1.sql.gz/'
(cd $BACKUPDIR/latest; ls | sed -e "$DAYSRE" -e "$WEEKSRE" -e "$MONTHSRE" | dash)
